<div class="menu-user-left">
            <div class="user-left-nav">
                <div class="user-left-nav-name">
                    <img class="user-left-nav-img" src="https://loremflickr.com/50/50" />
                    <span>{{user.username}}</span>
                </div>
                <i class="fas fa-bars icon-navbar"></i> 
            </div>
            <div class="user-left-items">
                    <h4 class="user-left-item-title">
                        User Infomation
                    </h4>
                    <a href="#" class="user-left-item">
                        <i class="fas fa-user-edit left-item-user"></i>
                        <span>Cập nhật thông tin</span>
                    </a>
                    <a href="#" class="user-left-item">
                        <i class="fas fa-key left-item-user"></i>
                        <span>Thay đổi mật khẩu</span>
                    </a>
                    <a href="/user/logout" class="user-left-item">
                        <i class="fas fa-sign-out-alt left-item-user"></i>
                        <span>Đăng xuất</span>
                    </a>
            </div>
            <div class="user-left-items">
                <h4 class="user-left-item-title">
                    Product
                </h4>
                <a href="#" class="user-left-item">
                    <i class="far fa-list-alt left-item-user"></i>
                    <span>Danh sách sản phẩm</span>
                </a>
                <a href="#" class="user-left-item">
                    <i class="fas fa-file-alt left-item-user"></i>
                    <span>Thêm mới sản phẩm</span>
                </a>
                <a href="#" class="user-left-item">
                    <i class="fas fa-chart-pie left-item-user"></i>
                    <span>Thống kê </span>
                </a>
            </div>

        </div>